# Tüm dosyaları ve klasörleri görmezden gel
/*

# Sadece istediğimiz dosyaların takibine izin ver
!index.html
!app.js
!auto-load.js
!styles.css
!manifest.json
!sw.js
!icons/
!icons/*
!login_bg.png

# .gitignore dosyasının kendisini de takip et
!.gitignore
